<html>
<head>
  <title> Duck Duck Code</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"/>
  <link href='https://fonts.googleapis.com/css?family=Courgette' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="static/end_of_level.css"/>
</head>
<body>
  <h1>Congrats! You have completed the game!</h1>
<div class ="row"><img src="static/congrats.png">
<div class="col-md-4"><form action="/"><button class="button2 btn-block"><h2><span>Home Page</span></h2></button></form></div>
</div>

</body>
</html>
