<!DOCTYPE html>
<html>
<head>
  <title>Help</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"/>
  <link href='https://fonts.googleapis.com/css?family=Gloria+Hallelujah' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Chewy' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="static/startpage.css"/>
  <audio autoplay loop>
  <source src="static/start.mp3" type="audio/mpeg">
  Your browser does not support the audio tag.
</audio>
</head>
<body>
  <h1 style="font-size: 70px; text-align:center;">Story Line</h1>
  <p style="font-family: 'Gloria Hallelujah', cursive; font-size:36px;">The duck was hired to work
  at Google CSSI Seattle. There, he was forced to listen to copious amounts of bad code. Fed up, the duck
fled the Google office to return to the bathtub. Little did he know, the road would be filled with many
obstacles, and the bad code that he was supposed to listen to, is now chasing him to bring him back to Google.
Help the duck make it back home!</p>
  <h1 style="font-size: 70px; text-align:center;">Instructions</h1>
  <ul style="font-family: 'Gloria Hallelujah', cursive; font-size:36px;">
    <li>To pause the game, press 'P'</li>
    <li>Use the arrow keys to move the duck left and right.</li>
    <li>Press the space bar to jump</li>
    <li>Avoid obstacles and do not let the code touch you!</li>
    <li>Have fun! :D</li>

</body>
</html>
