<!DOCTYPE html>
<html>
<head>
  <script src="static/matrix/matrix.js"></script>
  <link rel="stylesheet" href="static/level1.css">
  <title> Duck Duck Code</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"/>
  <link href='https://fonts.googleapis.com/css?family=Gloria+Hallelujah' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Chewy' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="static/startpage.css"/>
  <script src="static/gptest.js"></script>
</head>
<body>
<h1>Duck Duck Code</h1>
<!--  <div id='wrapper' style='width: 200px; height: 200px'> -->
       <canvas id="canvas" width='1000' height='400'>
       </canvas>
       <div id="lifebar"></div>
<!--  </div> -->
<style body="overflow: hidden"></style>
</body>
</html>
