<html>
<!DOCTYPE html>
<html>
<head>
  <title> Duck Duck Code</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"/>
  <link href='https://fonts.googleapis.com/css?family=Gloria+Hallelujah' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Chewy' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="static/startpage.css"/>
  <audio autoplay loop>
  <source src="static/start.mp3" type="audio/mpeg">
  Your browser does not support the audio tag.
</audio>
</head>
<body>
  <h1 id = "title" class="dropshadow">Duck Duck Code</h1>
  <div class="row">
    <div class ="col-md-4"><form action="/game"><button class="btn btn-block btn-warning dropshadow"><h1 class="bg-warning">Play</h1><i class="fa fa-play" style="font-size:24px"></button></i></form></div>
    <div class ="col-md-4"><form action="/sign"><button class="btn btn-block btn-success dropshadow"><h1 class="bg-success">Sign In</h1><i class="fa fa-trophy" style="font-size:24px"></button></i></form></div>
    <div class ="col-md-4"><form action="/instructions" target="_blank"><button class="btn btn-block btn-danger dropshadow"><h1 class="bg-danger">Instructions</h1><i class="fa fa-road" style="font-size:24px"></button></i></form></div>
  </div>
</body>
</html>
