body{
  overflow: hidden;
}
.gameWorld, canvas{
    padding: 0;
    margin: auto;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.gameWorld{
  width: 1000px;
  height: 400px;
}
h1 {
  text-align: center;
  font-size: 100px;
}
<<<<<<< HEAD
.obstacle{
  position: absolute;
  right: 0px;
  bottom: 20px;
  z-index: 20
  height:auto;
  width: 125px;
=======
#lifebar{
  position: absolute;
  margin-top: 35px;
  width: 140px;
  left: 1015px;
  text-align: right;
  border: 1px solid;
  height: 50px;
}

#score{
  position: absolute;
  margin-top: 35px;
  width: 90px;
  left: 924px;
  text-align: right;
  border: 1px solid;
  height: 50px;
>>>>>>> e00ba368563a7e0e65039602d1e501c8bf3f9663
}
