#title{
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 100px;
  text-align: center;
}
body{
  background-image: url('duckstartpage.jpg');
}
h1{
  color: black;
  font-family: 'Chewy', cursive;
  font-size: 48px;
}
i{
  color: black;
  font-size: 24px;
}
.dropshadow {
	height: auto;
	-webkit-box-shadow: -15px 13px 20px 3px rgba(0,0,0,0.91);
	-moz-box-shadow: -15px 13px 20px 3px rgba(0,0,0,0.91);
	box-shadow: -15px 13px 20px 3px rgba(0,0,0,0.91);
}
